.bests {
    margin-top: 3rem;
    width: 100% !important;
}

.bests .details-bests {
    margin: auto;
    padding: 2rem;
}


/* ! cart canal */
.cart-canal {
    width: 17rem;
    height: 22rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: .2rem;
    border-radius: 4px;
    margin-bottom: 4rem;
}

.cart-canal .image-canals-section {
    width: 100%;
    height: 10rem;
    border-radius: 4px;
}

.cart-canal .image-canals-section img {
    width: 100%;
    height: 100%;
}

.cart-canal .detail-image-section {
    padding: .5rem;
}

.cart-canal .detail-image-section .title-deatil-cart-canal {
    margin-top: .5rem;
    font-weight: bolder;
    font-size: .8;
}

.cart-canal .detail-image-section span {
    opacity: .7;
    font-size: .8rem;
}

.cart-canal .detail-cart-canal {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.cart-canal .detail-cart-canal p {
    opacity: .7;
}

/* ! cart canal */