* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
}

input::placeholder {
    opacity: .5;
}

.container {
    padding: 3rem 3rem 0 3rem !important;
    width: 80%;
    overflow-y: auto !important;
}

:root {
    --background: #45526C;
    --green: #00ADB5;
    --red: #DD4A48;
    --gray: #393E46;
    --white-gray: #EEEEEE;
    --white: #FFFF;
    --dark: #222831;
    --orange: #FF6B6B;
    --yellow: #FFE162;
}

a {
    color: var(--dark);
    text-decoration: none;
}

/* ! btn */
.btn-white {
    padding: .5rem;
    transition: all .3s ease-in-out;
    border-radius: 3px;
}

.btn-white:hover {
    background-color: var(--dark);
    color: var(--white);
    transition: all .3s ease-in-out;
}

.btn-red {
    padding: .5rem;
    transition: all .3s ease-in-out;
    border-radius: 3px;
}

.btn-red:hover {
    background-color: var(--red);
    color: var(--white);
    transition: all .3s ease-in-out;
}

.btn-dark {
    background-color: var(--dark);
    padding: .5rem;
    color: var(--white) !important;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* carousel */
.swiper-pagination-bullet {
    background-color: var(--dark) !important;
    width: 2rem !important;
    height: .5rem !important;
    border-radius: 4px !important;
    transition: all .5s ease;
}

.swiper-pagination-bullet:hover {
    width: 4rem !important;
    transition: all .5s ease !important;
}

/* carousel */

form {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-top: 2rem;
    border: none;
    background: none;
    border: 1px solid var(--gray);
    border-radius: 3px;
    padding: .3rem 1rem;
}

.error {
    font-size: 1rem;
    color: var(--red);
    margin-right: .5rem;
}

form button {
    border: 1px solid var(--dark);
    padding: .5rem 3rem;
    border-radius: 3px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all .3s ease-in;
}

.form-panel p {
    margin-top: 1rem;
    margin-bottom: -1.5rem;
}

/* ! btn */

.alert {
    width: 100%;
    background-color: var(--white-gray);
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
}

/* ! loader */
@import url("./loading.css");
/* ! auth page */
@import url("./authPages.css");
/* ! navBar */
@import url("./navBar.css");
/* ! navBar */
@import url("./titleHeader.css");
/* ! bestCanals */
@import url("./BestCanals.css");
/* ! userPanel */
@import url("./userPanel.css");
/* ! userPanel */
@import url("./userpanel/channell.css");
/* ! GalleryChannell */
@import url("./userpanel/GalleryChannell.css");


@media only screen and (max-width: 600px) {
    .container {
        padding: 1rem !important;
        width: 100%;
    }
}